<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jude's Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <h1>Mr CHUKWUNONSO</h1>
                <button class="hamburger" aria-label="Toggle navigation">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <ul class="nav-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>

        <section id="about" class="about">
            <div class="container">
                <div class="about-image" data-aos="fade-right">
                    <img src="images/nony.jpeg" alt="Jude's Profile">
                </div>
                <div class="about-text" data-aos="fade-left">
                    <h2>About Me</h2>
                    <p>After completing my degree in Civil Engineering, I discovered my passion for software development. I transitioned into tech, where I now create innovative solutions that bridge the gap between engineering and technology.</p>
                </div>
            </div>
        </section>

        
    <footer>
        <p>&copy; copyright 2025 Chukwunonso. All rights reserved.  privacy policy</p>
    </footer>

    <button class="back-to-top" onclick="scrollToTop()">↑</button>

    <script src="js/script.js"></script>
</body>
</html>
