<!-- portfolio.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Portfolio | MR JUDE</title>
</head>
<body>
  <nav class="navbar">
    <h2>MR JUDE</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  <section class="projects">
    <h1>My Projects</h1>
    <div class="project-grid">
      <div class="project-card">
        <h3>TODO Application</h3>
        <p>A ToDo application 3MTT Capstone Project.</p>
        <p><strong>Technologies:</strong> HTML, CSS, JavaScript, MySQL</p>
        <a href="https://github.com/Chukwunonso10/3MTTCAPSTONE2" target="_blank">GitHub</a> | <a href="#" target="_blank">Live Demo</a>
      </div>

      <div class="project-card">
        <h3>Database Design</h3>
        <p>An Entity-Relationship Diagram (ERD) and SQL script for an e-commerce database. This project was created as part of a database design assignment to demonstrate understanding of relational database principles and their application in a real-world e-commerce scenario..</p>
        <p><strong>Technologies:</strong> MySQL</p>
        <a href="https://github.com/Chukwunonso10/Database_Group_assignment34" target="_blank">GitHub</a> | <a href="#" target="_blank">Live Demo</a>
      </div>

      <div class="project-card">
        <h3>Portfolio Website</h3>
        <p>My personal website showcasing my journey and projects.</p>
        <p><strong>Technologies:</strong> HTML, CSS, JavaScript</p>
        <a href="#" target="_blank">GitHub</a> | <a href="https://github.com/Chukwunonso10/My-Portfolio_website" target="_blank">Live Demo</a>
      </div>
    </div>
  </section>
</body>
</html>
